<!doctype html>
<html>
  <head>
    <title>LD34</title>
    <link rel="stylesheet" href="css/index.css"></link>
  </head>
  <body>
    <ul id="spellslist">
      <li class="move">
        <p class="combination">
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Move</p>
      </li>
      <li class="jump">
        <p class="combination">
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Jump</p>
      </li>
      <li class="stop">
        <p class="combination">
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Stop</p>
      </li>
      <li class="fireball">
        <p class="combination">
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Fireball</p>
      </li>
      <li class="shield">
        <p class="combination">
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Shield</p>
      </li>
      <li class="levitation">
        <p class="combination">
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Levitation</p>
      </li>
      <li class="mute">
        <p class="combination">
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
          <span class="key">&nbsp;</span>
        </p>
        <p class="name">Mute</p>
      </li>
    </ul>
    <script src="js/libs.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
